@{ ViewBag.Title = "Index"; }
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/WardMaster.css" />
    <link rel="stylesheet" href="~/css/MatdanMathak.css" />
    <link rel="stylesheet" href="~/css/CSS_datatable.css" />
</head>
<body>
    <div class="body">
        <form method="post" name="frmmatdanmathak" class="form-inline" id="frmmatdanmathak">
            <div class="c1">
                <h6>MATDANMATHAK MASTER INFORMATION</h6>
            </div>
            <div class="container border border-dark p-2 mt-2 pl-lg-4">
                <div class="row">
                    <div class="col-12 form-inline" style=" height:50px;">
                        <div class="col-6 form-inline" style="height:50px;">
                            <label for="WARD_ID" class="text-dark col-5 d-flex justify-content-end" id="lbl">WARD NAME :</label>
                            <input type="hidden" class="form-control" id="ID" name="ID">
                            <select required="" style="font-size:11px;text-align:left;" class="form-control col-6" id="WARDID" name="WARDID"></select>
                        </div>
                        <div class="col-6 form-inline" style="height:50px;">
                            <label for="MATDAN_ID" class="text-dark col-5 d-flex justify-content-end" id="lbl">MATDAN MATHAK NAME :</label>
                            <input required="" type="text" class="form-control col-6" id="NAME" name="NAME" placeholder="MATDANMATHK NAME">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-inline" style=" height:50px;">
                        <div class="col-6 form-inline" style="height:50px;">
                            <label for="ADDRESS" class="text-dark col-5 d-flex justify-content-end" id="lbl">ADDRESS :</label>
                            <textarea required="" class="form-control col-6" id="ADDRESS" name="ADDRESS" rows="3" cols="50" placeholder="ADDRESS" style="font-size:12px;letter-spacing:1px; text-transform:uppercase;"></textarea>
                        </div>
                        <div class="col-6 form-inline " style="height:50px;">
                            <label for="MOBILE" class="text-dark col-5 d-flex justify-content-end" id="lbl"> MOBILE NO :</label>
                            <input required="" type="text" class="form-control col-6" id="MOBILE" name="MOBILE" placeholder="MOBILE">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success b2" id="btnsave" name="btnsave">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            Save
                        </button>
                        <button class="btn btn-outline-secondary b2" id="btnload" name="btnload">
                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            Loading
                        </button>
                        <button class="btn btn-success b2" id="btnupdate" name="btnupdate">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Update
                        </button>
                        <button class="btn b1" type="reset" id="btnreset">
                            <i class="fa fa-undo" aria-hidden="true"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="container dtborder" style="width: 75%;height:100%; margin: auto;margin-top: 20px;margin-bottom: 20px;padding: 10px;padding-bottom:10px;padding-right:10px;text-align: center;">
        <table id="MTtbl" class=" table-striped table-bordered nowrap table-responsive cell-border table-responsive-md table-responsive-sm " style="width:100%;margin:auto;">
                <thead>
                    <tr>
                        <th>ACTION</th>
                        <th>WARD NAME</th>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>MOBILE</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <link rel="stylesheet" href="~/css/CSS_datatable.css" />
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/pagination.js"></script>
    <script src="~/Scripts/MatdanMathakMaster/Index.js"></script>
</body>