@model WM.Models.RESOURCEMASTER
@{ ViewBag.Title = "Index"; }
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/WardMaster.css" />
    <style>
        .dataTables_empty {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="body">
        <form class="form-inline" id="frmresourceMaster" name="frmresourceMaster">
            <div class="c1">
                <h6>RESOURCE MASTER INFORMATION</h6>
            </div>
            <div class="container container1">
                <input type="hidden" id="ID" name="ID" />
                <div class="row row1">
                    <div class="col-md-12 col-sm-12 border border-dark  p-3 mt-2">
                        <div class="form-group input-group">
                            <div class="col-1">
                            </div>
                            <lable id="lbl" class="col-3 d-flex justify-content-end"> RESOURCE NAME : </lable>
                            <input type="text" required="" placeholder="RESOURCE NAME" class="form-control col-6" id="Resourcename" name="Resourcename" style="width:300px;" /><br />
                        </div>
                        <div class="container con">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-success b2" id="btnsave" name="btnsave">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        Save
                                    </button>
                                    <button class="btn btn-outline-secondary b2" id="btnload" name="btnload">
                                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                        Loading
                                    </button>
                                    <button class="btn btn-success b2" id="btnedit" name="btnedit">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        Update
                                    </button>
                                    <button class="btn b1" type="reset" id="btnreset">
                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container table-bordered border-dark dtward" style="width:75%;height:100%; margin: auto;margin-top: 20px;margin-bottom: 20px;padding: 10px;padding-bottom:10px;padding-right:10px;text-align: center;">
            <table id="resourcetbl" class=" table-striped table-bordered cell-border order-columnn  table-responsive-md table-responsive-sm" style="width:75%;margin:auto;">
                <thead>
                    <tr>
                        <th>ACTIONS</th>
                        <th>RESOURCENAME</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <link rel="stylesheet" href="~/css/CSS_datatable.css" />
    <link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/DataTables/css/fixedColumns.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/DataTables/css/fixedColumns.dataTables.min.css" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/pagination.js"></script>
    <script src="~/Scripts/ResourceMaster/Index.js"></script>
</body>
</html>